* {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(219, 195, 163, 0.5);
}

.wrapper-box {
    width: 400px;
    height: 400px;
}

.wrapper-box li .box,
.wrapper-box .img,
.wrapper-box .word {
    width: 180px;
    height: 180px;
}

.wrapper-box li {
    position: relative;
    float: left;
    margin: 10px;
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.wrapper-box .box {
    transform-style: preserve-3d;
    transform-origin: 50% 50% -90px;
    animation: 200ms linear forwards;
}

.wrapper-box .box,
.wrapper-box .box div {
    position: absolute;
}

li div img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.wrapper-box .word {
    position: absolute;
    width: 180px;
    height: 180px;
    text-align: center;
    background-color: #000;
    color: #fff;
    line-height: 180px;
    transform: translateZ(-1px);
}

/* Top */
.in-top .word,
.out-top .word {
    transform-origin: 0% 100%;
    transform: translateY(-100%) rotateX(90deg);
}

.in-top .box {
    animation-name: in-top;
}

.out-top .box {
    animation-name: out-top;
}

@keyframes in-top {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(-90deg);
    }
}

@keyframes out-top {
    from {
        transform: rotateX(-90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

/* Right */
.in-right .word,
.out-right .word {
    transform-origin: 0% 0%;
    transform: translateX(100%) rotateY(90deg);
}

.in-right .box {
    animation-name: in-right;
}

.out-right .box {
    animation-name: out-right;
}

@keyframes in-right {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-90deg);
    }
}

@keyframes out-right {
    from {
        transform: rotateY(-90deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

/* Bottom */
.in-bottom .word,
.out-bottom .word {
    transform-origin: 0% 0%;
    transform: translateY(100%) rotateX(-90deg);
}

.in-bottom .box {
    animation-name: in-bottom;
}

.out-bottom .box {
    animation-name: out-bottom;
}

@keyframes in-bottom {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(90deg);
    }
}

@keyframes out-bottom {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

/* Left */
.in-left .word,
.out-left .word {
    transform-origin: 100% 0%;
    transform: translateX(-100%) rotateY(-90deg);
}

.in-left .box {
    animation-name: in-left;
}

.out-left .box {
    animation-name: out-left;
}

@keyframes in-left {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(90deg);
    }
}

@keyframes out-left {
    from {
        transform: rotateY(90deg);
    }

    to {
        transform: rotateY(0deg);
    }
}
